@import "../variables";

.DropdownSection {
  width: 100%;

  header {
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    height: 52px;
    justify-content: space-between;
    padding: 0 2 * $mu;
    border-radius: $radius-md;
  }

  .content {
    position: relative;
    bottom: $mu;
    color: $color-primary;
    background-color: $color-grey-90;
    border-radius: $radius-md;
    padding: 5 * $mu 1.5 * $mu 2.5 * $mu 2.5 * $mu;
  }

  h2 {
    font-weight: 500;
  }
}
