@import "../variables";

.Gallery {
  div[role="option"] {
    max-width: 100%;
    height: 415px - 6 * $mu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: $radius-lg;
    flex-direction: column;
    padding: 3 * $mu;
    gap: 15 * $mu;
    background-position: center;
    background-size: cover;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  p {
    color: $color-white;
    font-weight: 500;
  }
}
