@import "../variables";
@import "../mixins";

.StayItem {
  width: 340px;
  height: 340px;
  border-radius: 10px;

  @include mobile-only {
    width: 100%;
    height: 255px;
  }

  article {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    &::after {
      border-radius: 10px;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }

  h2 {
    padding: 20px;
    color: $color-white;
    position: relative;
    z-index: 1;
    font-weight: 500;
    line-height: 26px;
  }
}
