@import "../variables";
@import "../mixins";

.Tag {
  background-color: $color-primary;
  border-radius: $radius-md;
  color: $color-white;
  min-width: 115px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 $mu;
  font-size: 0.7rem;
  @include mobile-only {
    min-width: 84px;
    height: 18px;
    padding: 0 0.5 * $mu;
    border-radius: 5px;
    font-size: 0.5rem;
  }
}
