$mu: 8px;

$color-primary: #ff6060;
$color-white: #fff;
$color-grey-100: #f7f7f7;
$color-grey-90: #f6f6f6;

$color-background: $color-white;
$color-card-background: $color-grey-100;

$radius-md: 10px;
$radius-lg: 25px;
