@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

p,
h2 {
  font-size: 18px;
  margin: 0;
}

ul {
  text-indent: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
